* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   width: 100%;
}

main {
   height: 100%;
   width: 100%;
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
}

.card {

   width: 300px;
   background-color: white;
   padding: 20px;
   border-radius: 10px;
   position: relative;
}

.card img {

   height: 320px;
   width: 100%;
   object-fit: cover;
   border-radius: 10px;
   margin-bottom: 10px;
}

.card h2 {
   font-size: 40px;
   text-align: center;
}

.card div {
   position: relative;
   overflow: hidden;
}

.card i {
   position: absolute;
   top: 50%;
   left: 50%;
   font-size: 70px;
   opacity: 0.9;
   background: linear-gradient(to right bottom, rgb(199, 27, 79), rgb(172, 10, 187));
   background-clip: text;
   -webkit-background-clip: text;   
   color: transparent;
   transform: translate(-50%, -50%) scale(0) rotate(-60deg);
   transition: all cubic-bezier(.75,.99,.65,1.42) 0.3s;
}