* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   width: 100%;
}

body {
   height: 100%;
   width: 100%;
   background-color: black;
   /* cursor: none; */
   display: flex;
   align-items: center;
   justify-content: center;
}

#cursor {
   height: 50px;
   /* position: fixed; */
   transform: translate(-50%,-50%);
}
h1{
   padding: 20px 40px;
   border-radius: 10px;
   color: white;
   background-color: #333;

}
