* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   width: 100%;
}

body {
   background-color: black;
   color: white;
   padding: 20px;
}

.elem {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-color: #333;
   padding: 20px;
   margin-bottom: 10px;
   border-radius: 10px;
}

button {
   padding: 10px 20px;
   background-color: royalblue;
   color: white;
}